- var title = "Test Title";
- var description = "Test description";
- var keywords = "Test keywords";

include section/head

body
    include section/header
    h1 Меню!!!
        
    section.section__menu.menu  
        .menu__block
            .menu__items
                .menu__item.menu__item-1
                    img.menu__item-img(src="https://hotelmishka.ru/wp-content/uploads/2023/11/whatsapp-image-2023-11-27-at-16.18.20.webp", alt="", srcset="")
                .menu__item.menu__item-2
                    img.menu__item-img(src="https://hotelmishka.ru/wp-content/uploads/2023/11/whatsapp-image-2023-11-27-at-16.18.18.webp", alt="", srcset="")  
                .menu__item.menu__item-3
                    img.menu__item-img(src=" https://hotelmishka.ru/wp-content/uploads/2023/11/whatsapp-image-2023-11-27-at-16.18.19.webp", alt="", srcset="")  
                .menu__item.menu__item-4
                    img.menu__item-img(src="https://hotelmishka.ru/wp-content/uploads/2023/11/whatsapp-image-2023-11-27-at-16.18.17.webp", alt="", srcset="")  
                .menu__item.menu__item-5
                    img.menu__item-img(src="https://hotelmishka.ru/wp-content/uploads/2023/11/whatsapp-image-2023-11-27-at-16.18.20.webp", alt="", srcset="")  
                .menu__item.menu__item-6
                    img.menu__item-img(src="https://hotelmishka.ru/wp-content/uploads/2023/11/whatsapp-image-2023-11-27-at-16.18.18.webp", alt="", srcset="")  
    section.xaraketristak
        .text Проектируемое здание состоит из следующих конструкций:
            ol
                li фундамент - буронабивные сваи, монолитный ленточный ростверк;
                li стены наружные - навесные сборные сэндвич-панели "PIRPANEL C",утеплитель: минвата. Облицовка - навесные алюминиевые композитные панели "КраспанКомпозит AL";
                li кровля - скатная, покрытие - кровельные сэндвич-панели "PIRPANEL К", коэффициент теплопроводности 0,024Вт/м°С, t=120мм. Водосток - наружный, организованный;
                li перегородки - из ГВЛ марок С361 и С362 системы "Кнауф"; 
                li потолки - из ГВЛ марки П131 (231) системы "Кнауф";
                li витражи - из алюминиевого профиля;
                li дверные блоки наружные - из алюминиевого профиля;
                li дверные блоки внутренние - из профиля ПВХ;
                li   ворота - подъемно-секционные по ГОСТ 31174-2003;
                li покрытие полов - керамогранитная плитка, бетонные;
                li крыльца и пандусы выполнены уклоном рельефа;
                li отмостка - шириной 1,0м с уклоном 0,02%;     
    section.travlline
        h2.travlline__title Это секция Travlline 
            .block-search-rooms
                #tl-search-form-rooms.tl-container
                    noindex 
                        a(href = "https://www.travelline.ru/products/tl-hotel/" rel="nofollow" target="_blank")      
    include section/footer

